body {
   background-color: aliceblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
}
h1 {
   text-align: center;
   margin-bottom: 50px;
}

#main {
   position: relative;
   height: 700px;
   width: 550px;
}

.first {
   width: 250px;
   height: 330px;
   border: 6px solid white;
   position: absolute;
}

.first:first-child {
   background-color: tomato;
   top: 0;
   left: 0;
}

.first:nth-child(2) {
   background-color: teal;
   top: 0;
   right: 0;
}

.first:nth-child(3) {
   background-color: burlywood;
   bottom: 0;
   left: 0;
}

.first:nth-child(4) {
   background-color: thistle;
   bottom: 0;
   right: 0;
}

.second {
   height: 95px;
   width: 235px;
   background-color: white;
   padding: 0px 8px;
}
