.book {
   margin-bottom: 70px;
}

.book__cover {
   font-size: 60px;
   font-weight: 700;
   margin-bottom: 60px;
}

.book__imformation {
   display: flex;
}

.book__image {
   width: 300px;
   height: 460px;
   border-radius: 30px;
   margin-right: 50px;
}

.book__title {
   font-size: 50px;
   margin-bottom: 25px;
}

.book__writer {
   font-size: 35px;
   opacity: 0.2;
   margin-bottom: 30px;
}

.book__star-icon {
   width: 30px;
   height: 30px;
   margin-bottom: 40px;
}

.book__type {
   display: flex;
   margin-bottom: 20px;
}

.book__type div {
   background-color: rgba(179, 177, 177, 0.3);
   width: 200px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin: 0 20px 30px 0;
   font-size: 30px;
}

.book__btn {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.bookmark-icon {
   width: 50px;
   height: 50px;
}

.book__bookmark-btn {
   background-color: #ffce33;
   border-radius: 50%;
   width: 90px;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.book__now {
   background-color: black;
   color: white;
   width: 240px;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   border-radius: 15px;
}
