.author__cover {
   font-size: 60px;
   font-weight: 700;
   margin-bottom: 60px;
}

.author__imformation {
   display: flex;
}

.author__image {
   width: 300px;
   height: 400px;
   border-radius: 30px;
   margin-right: 50px;
}

.author__name {
   font-size: 50px;
   margin-bottom: 25px;
}

.author__introduction {
   font-size: 35px;
   opacity: 0.2;
   margin-bottom: 30px;
   line-height: 50px;
}
