@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
   box-sizing: border-box;
}
body {
   font-family: "Rubik", sans-serif;
   height: 100vh;
   display: flex;
   justify-content: center;
}
.behindbox {
   background-color: rgb(108, 239, 195);
   width: 550px;
   height: 930px;
}

/* first */
.mainbox {
   background-color: white;
   margin: 10px;
   padding: 50px 30px;
}
.mainbox__status-bar {
   margin-bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.mainbox__status-bar__column {
   width: 50%;
   display: flex;
   align-items: center;
}
.xMark {
   width: 60px;
}
.mainbox__status-bar__column:nth-child(2) span {
   font-size: 40px;
   font-weight: 700;
}
.mainbox__status-bar__column:nth-child(2) {
   margin-right: 150px;
}

/* second*/
.mainbox__selected-music {
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}
.mainbox__selected-music__column {
   width: 50%;
}
.mainbox__selected-music__column__image {
   background-color: rgb(241, 183, 77);
   border-radius: 20px;
   border: 2px solid black;
   width: 180px;
   height: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
}
.mainbox__selected-music__column:nth-child(2) {
   margin-right: 30px;
}
.mainbox__selected-music__column__subject span {
   font-size: 55px;
   font-weight: 700;
}
.mainbox__selected-music__column__writer span {
   line-height: 50px;
   font-size: 25px;
}

/* third */
.triangle {
   width: 70px;
   height: 30px;
}
.mainbox__button {
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}

.mainbox__button__column {
   width: 40%;
   display: flex;
   align-items: center;
}
.mainbox__button__column__image__play {
   border-radius: 20px;
   border-style: solid;
   width: 200px;
   height: 70px;
   border-width: 2px 2px 7px 2px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.mainbox__button__column__image__play span {
   font-weight: 700;
   font-size: 30px;
}
.heart {
   width: 40px;
}
.mainbox__button__column__image__heart {
   border-radius: 50%;
   border-style: solid;
   margin-left: 60px;
   width: 70px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-width: 2px 2px 7px 2px;
}
.plus {
   width: 40px;
}
.mainbox__button__column__iamge__plus {
   border-radius: 50%;
   border-style: solid;
   margin-left: 30px;
   width: 70px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-width: 2px 2px 7px 2px;
}

/* fourth */
.mainbox__playlist__first {
   margin-bottom: 40px;
   display: flex;
}
.mainbox__playlist__first__color {
   background-color: tomato;
   width: 60px;
   height: 60px;
   border: 2px solid black;
   border-radius: 10px;
   margin-right: 30px;
}
.mainbox__playlist__first__text__subject span {
   font-size: 30px;
   font-weight: 500;
}
.mainbox__playlist__first__text__writer span {
   font-size: 20px;
   font-weight: 500;
   line-height: 50px;
}

.mainbox__playlist__second {
   margin-bottom: 40px;
   display: flex;
}
.mainbox__playlist__second__color {
   background-color: rgb(237, 118, 138);
   width: 60px;
   height: 60px;
   border: 2px solid black;
   border-radius: 10px;
   margin-right: 30px;
}
.mainbox__playlist__second__text__subject span {
   font-size: 30px;
   font-weight: 500;
}
.mainbox__playlist__second__text__writer span {
   font-size: 20px;
   font-weight: 500;
   line-height: 50px;
}

.mainbox__playlist__third {
   margin-bottom: 40px;
   display: flex;
}
.mainbox__playlist__third__color {
   background-color: blue;
   width: 60px;
   height: 60px;
   border: 2px solid black;
   border-radius: 10px;
   margin-right: 30px;
}
.mainbox__playlist__third__text__subject span {
   font-size: 30px;
   font-weight: 500;
}
.mainbox__playlist__third__text__writer span {
   font-size: 20px;
   font-weight: 500;
   line-height: 50px;
}

.mainbox__playlist__fourth {
   margin-bottom: 20px;
   display: flex;
}
.mainbox__playlist__fourth__color {
   background-color: rgb(36, 219, 195);
   width: 60px;
   height: 60px;
   border: 2px solid black;
   border-radius: 10px;
   margin-right: 30px;
}
.mainbox__playlist__fourth__text__subject span {
   font-size: 30px;
   font-weight: 500;
}
.mainbox__playlist__fourth__text__writer span {
   font-size: 20px;
   font-weight: 500;
   line-height: 50px;
}
